.datei_fläche_main{
    height: 400px;
    width: 250px;
    display: inline-table;
    background-color: rgb(80, 80, 80);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 9px 10px 13px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 10px 13px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 13px -7px rgba(0,0,0,0.75);
    vertical-align: top;
}

.dateien_anzeige_icon{
    display: block;
    width: 240px;
    height: auto;
    max-height: 240px;
    border-radius: 10px;
    border: 0px;
}

.dateien_anzeige_textfeld{
    display: block;
    width: auto;
    height: auto;
    font-size: 25px;
    font-weight: bold;
}

.datei_anzeige_button{
    font-size: 30px;
}