body{
    background-color: rgb(90, 150, 0);
    color: white;
    font-size: 25px;
}
h1{
    font-size: 40px;
    text-decoration: underline;
}
h2{
    font-size: 30px;
}
div{
    width: 75%;
    border: 2px solid black;
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
}
input{
    border-radius: 5px;
    border: 1px solid black;
}
button{
    border-radius: 5px;
    border: 2px solid black;
    background-color: green;
    color: white;
    transition: 0.25s;
    font-size: 25px;
}
button:hover{
    filter: brightness(1.2);
    border: 2px solid white;
}
.rote_buttons{
    background-color: rgb(134, 0, 0);
}
.rote_buttons:hover{
    filter: brightness(1.2);
    border: 2px solid rgb(255, 0, 0);
}